/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * FirstAscent implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * firstascent.css
 *
 * FirstAscent stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (firstascent_firstascent.tpl), and to HTML elements you create dynamically
    (in firstascent.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/


/*
    Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }
*/

/* player panels */
.reference {
    height: 47.5px;
    width: 35px;
    background-image: url('img/reference_objectives.jpg');
    background-size: 800% 200%;
    display: inline-block;
}

.desert {
    height: 673.65px;
    width: 1012.5px;
    background-image: url('img/desert_board.jpg');
    background-size: contain;
    position: relative;
}

.forest {
    height: 673.65px;
    width: 1012.5px;
    background-image: url('img/forest_board.jpg');
    background-size: contain;
    position: relative;
}

.summit_beta {
    height: 70px;
    width: 70px;
    position: absolute;
    background-image: url('img/summit_objectives.png');
    background-size: 400% 800%;
}

.summit_pile_back {
    background-position: -0% -0%;
}

/* climbing cards deck */
.climbing {
    height: 178.3px;
    width: 105.5px;
    position: absolute;
    background-image: url('img/climbing_cards.jpg');
    background-size: 1000% 800%;
}

.climbing_deck_back {
    transform: rotate(270deg);
    background-position: -0% -700%;
}

.shared_objective {
    height: 70px;
    width: 70px;
    position: absolute;
    background-image: url('img/summit_objectives.png');
    background-size: 400% 800%;
}

.personal_objective {
    height: 190px;
    width: 124px;
    position: relative;
    background-image: url('img/reference_objectives.jpg');
    background-size: 800% 200%;
}

.po1 { background-position: -0% -0%; }    /****TEMP****/
.po2 { background-position: -100% -0%; }

/* asset deck and spread */
.assets {
    height: 95px;
    width: 62px;
    position: absolute;
    background-image: url('img/asset_cards.jpg');
    background-size: 1200% 400%;
}

.asset_deck_back {
    transform: rotate(90deg);
    background-position: -0% -0%;
}

.spread {
    position: absolute;
    transform: rotate(90deg);
}

/* pitches */
.pitch {
    height: 92.7px;
    width: 80.4px;
    position: absolute;
    background-image: url('img/pitches.png');
    background-size: 1300% 400%;
}

/* characters */
.character {
    height: 324.375px;
    width: 313.125px;
    display: inline-block;
    background-image: url('img/characters.jpg');
    background-size: 800% 500%;
}

.character_select {
    border-radius: 10px;
    border: 1px black solid;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,4);
    cursor: pointer;
    transition: .5s ease;
}

.character_select:hover {
    box-shadow: 0 0 0 10px #000000;
    transition: .5s ease;
}

#asset_board {
    height: 324.375px;
    width: 626.25px;
    display: inline-block;
}

.asset_board {
    background-image: url('img/characters.jpg');
    background-size: 400% 500%;
}

/* tooltips */
.pitch_tt {
    height: 185.4px;
    width: 160.8px;
    position: static;
}

.shared_objective_tt {
    height: 140px;
    width: 140px;
    position: static;
}

.assets_tt {
    height: 190px;
    width: 124px;
    position: static;
}

.reference_tt {
    height: 356.25px;
    width: 232.5px;
    position: static;
    float: left;
    margin-right: 5px;
}

.risk_die {
    height: 15px;
    width: 15px;
    background-image: url('img/risk_die.png');
    background-size: 300% 100%;
    position: absolute;
}

.risk_1 { background-position: -0% -0%; }
.risk_2 { background-position: -100% -0%; }
.risk_3 { background-position: -200% -0%; }