/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * FirstAscent implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * firstascent.css
 *
 * FirstAscent stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (firstascent_firstascent.tpl), and to HTML elements you create dynamically
    (in firstascent.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/


/*
    Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }
*/

.desert {
    width: 1012.5px; /*750* x 1.35*/
    height: 673.65px; /*499* x 1.35*/
    background-image: url('img/desert_board.jpg');
    background-size: contain;
    position: relative;
}

.forest {
    width: 1012.5px;
    height: 673.65px;
    background-image: url('img/forest_board.jpg');
    background-size: contain;
    position: relative;
}

.shared_objective {
    width: 70px;
    height: 70px;
    position: absolute;
    background-image: url('img/summit_objectives.png');
    background-size: 400% 800%;
}

/* shared objectives */
/*.so1 { background-position: -0% -100% }
.so2 { background-position: -100% -100% }
.so3 { background-position: -200% -100% }
.so4 { background-position: -300% -100% }
.so5 { background-position: -400% -100% }
.so6 { background-position: -500% -100% }
.so7 { background-position: -600% -100% }
.so8 { background-position: -700% -100% }
.so9 { background-position: -800% -100% }
.so10 { background-position: -900% -100% }
.so11 { background-position: -1000% -100% }
.so12 { background-position: -1100% -100% }
.so13 { background-position: -1200% -100% }
.so14 { background-position: -1300% -100% }
.so15 { background-position: -1400% -100% }
.so16 { background-position: -1500% -100% }*/

/* asset deck and spread */
.assets {
    width: 62px;
    height: 95px;
    position: absolute;
    background-image: url('img/asset_cards.jpg');
    background-size: 1200% 400%;
}

.deck_back {
    transform: rotate(90deg);
    background-position: 0% 0%;
}

.spread {
    position: absolute;
    transform: rotate(90deg);
}

/* pitches */
.pitch {
    width: 80.4px;
    height: 92.7px;
    position: absolute;
    background-image: url('img/pitches_cropped.png');
    background-size: 1100% 400%;
}

/* value 1 pitches */
.p1 { background-position: -0% -0%; }
.p2 { background-position: -100% -0%; }
.p3 { background-position: -200% -0%; }
.p4 { background-position: -300% -0%; }
.p5 { background-position: -400% -0%; }
.p6 { background-position: -500% -0%; }

/* value 2 pitches */
.p7 { background-position: -0% -100%; }
.p8 { background-position: -100% -100%; }
.p9 { background-position: -200% -100%; }
.p10 { background-position: -300% -100%; }
.p11 { background-position: -400% -100%; }
.p12 { background-position: -500% -100%; }
.p13 { background-position: -600% -100%; }
.p14 { background-position: -700% -100%; }
.p15 { background-position: -800% -100%; }
.p16 { background-position: -900% -100%; }
.p17 { background-position: -1000% -100%; }

/* value 3 pitches */
.p18 { background-position: -0% -200%; }
.p19 { background-position: -100% -200%; }
.p20 { background-position: -200% -200%; }
.p21 { background-position: -300% -200%; }

/* value 4 pitches */
.p22 { background-position: -400% -200%; }
.p23 { background-position: -500% -200%; }
.p24 { background-position: -600% -200%; }
.p25 { background-position: -700% -200%; }
.p26 { background-position: -800% -200%; }

/* value 5 pitches */
.p27 { background-position: -0% -300%; }
.p28 { background-position: -100% -300%; }
.p29 { background-position: -200% -300%; }
.p30 { background-position: -300% -300%; }
.p31 { background-position: -400% -300%; }
.p32 { background-position: -500% -300%; }
/* .p33 is The Trifecta, which is printed on the board

/* pitch backings */
.p34 { background-position: -600% -300%; }
.p35 { background-position: -700% -300%; }
.p36 { background-position: -800% -300%; }
.p37 { background-position: -900% -300%; }
.p38 { background-position: -1000% -300%; }